{
  "schedules": [
    {
      "name": "all_lights_night",
      "target": { "type": "broadcast" },
      "light": {
        "on_time": "19:00",
        "off_time": "06:00"
      }
    },
    {
      "name": "snapshot_5min_all",
      "target": { "type": "broadcast" },
      "snap": {
        "enable": true,
        "period_sec": 240
      }
    }
  ]
}
